.wrapper {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
}

.link {
  font-size: 12px;
  margin: 0 0 10px;
}

.link a {
  font-weight: normal;
  text-decoration: none;
}

.link a:hover {
  text-decoration: underline;
}

.link:first-child {
  margin-right: auto;
}
