.fs-container {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 28px 40px 40px;
  line-height: 1;
  border-radius: 25px;
}

.fs-link {
  color: #2d57ed;
  text-decoration: underline;
  cursor: pointer;
}
