.fs-multi {
  font-size: 12px;

  table {
    text-align: right;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 5px 10px;
  }

  th {
    font-weight: 400;
    vertical-align: bottom;
  }

  td {
    font-weight: 500;
  }

  &-light {
    a,
    td.fs-multi-fcas,
    td.fs-multi-coin {
      color: #2d57ed;
    }
  }

  &-dark {
    a,
    td.fs-multi-fcas,
    td.fs-multi-coin {
      color: #2d57ed;
    }
  }

  &-colhead {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &-text {
      flex-basis: 0;
      user-select: none;
    }
  }

  &-alternating {
    tbody tr:nth-child(2n-1) {
      background-color: #eeeeee;
    }
  }

  &-dividers {
    td {
      border-bottom: 1px solid #979797;
    }
  }

  &-coin {
    text-align: left;
  }

  // sorted column icon
  &-caret {
    display: inline-block;
    background: url(./images/caret.svg);
    width: 8px;
    height: 6px;
    margin: 0 4px 0 auto;
    visibility: hidden;
    &-asc {
      transform: rotate(180deg);
    }
    &-active {
      visibility: visible;
    }
  }

  // sortable columns headers
  &-sortable {
    cursor: pointer;
  }

  &-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
    white-space: nowrap;
  }

  &-title {
    margin: 0 10px 10px 0;
    font-size: 24px;
    font-weight: 400;
  }
}
